# Server Configuration
PORT=8080
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=management
DB_USER=postgres
DB_PASSWORD=manager

# JWT Secrets
JWT_ACCESS_SECRET=koiuoijfoifiuiojfojv8jfowifpoihf9ejf
JWT_REFRESH_SECRET=vodofgoigndkvndoijeroinjoirorenelkknonvoknverlknl

# SMTP / Email Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Redis Cache
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# Frontend Configuration
FRONTEND_URL=http://localhost:5173
